body {
  background-color: #36675C;
}

* {
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 320px;
  height: 560px;
  top:50px;
  left:50%;
  background-color: #ffff;
  margin-left:-160px;
}

.triggered {
  opacity: 0.8;
  background-color: #324851;
}

.mobile-menu {
  align-items: center;
  align-content: space-between;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.nav {
  width: 320px;
  height: 80px;
}

/* Icon */

#nav-icon {
  width: 40px;
  position:absolute;
  top:30px;
  right:30px;
  z-index: 9999999;
  box-sizing: content-box;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #7DA3A1;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 12px;
}

#nav-icon span:nth-child(4) {
  top: 24px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

/* Menu */

.menu {
  transition: all 0.3s ease-in-out;
  padding: 15px;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 9999998;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu ul li {
  transition: all 0.3s ease-in-out;
}

.menu ul li a {
  color: #86ac41;
  display: inline-block;
  padding: 22px 15px;
  position: relative;
  text-decoration: none;
  outline: none;
  font: 1.6em "Comic Sans MS", sans-serif;
}

.triggered .menu {
  opacity: 0.7;
  transform: translateY(0);
}

.menu ul ul {
  display: none;
}

.menu ul .subtriggered + ul {
  display: block;
}

.animation-li-1 {
  animation-name: grow;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animation-li-2 {
  animation-name: grow;
  animation-duration: 3s;
  animation-fill-mode: both;
}

.animation-li-3 {
  animation-name: grow;
  animation-duration:4s;
  animation-fill-mode: both;
}

.animation-li-4 {
  animation-name: grow;
  animation-duration: 5s;
  animation-fill-mode: both;
}

.animation-li-5 {
  animation-name: grow;
  animation-duration: 6s;
  animation-fill-mode: both;
}

@keyframes grow {
  0% {
    opacity:0;
  }
  50% {
    opacity:0;
  }
  60% {
    opacity:0.25;
  }
  75% {
    opacity:0.5;
  }
  90% {
    opacity:0.75;
  }
  100% {
    opacity:1;
  }
}

